.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.imageSection {
  margin-top: 30px;
}

.imageSection img {
  max-width: 100%;
  border: 1px solid #ddd;
}